<!DOCTYPE html>
{% load staticfiles %}
<html lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/style.css' %}" />
<title>Education Foundation for Sind</title>
</head>

<body>
   <div id="page">
		
        <div id="header">
        	<div id="headerTitle">Education Foundation for Sind</div>
            <div id="headerSubText">Question Paper Generator</div>
            
        </div>

						
						{% csrf_token %}

						
					
			<div class="contentTitle"><h1>Error Reported</h1></div>
					
					<div class="contentText">
				<h3>{{errorText}}</h3>
					</div>

	</div>
        
        <div id="footer"><a>Developed by NEEF</a></div>


</body></html>

		
