<!DOCTYPE html>
<script type="text/javascript">
    function printpage() {
        //Get the print button and put it into a variable
        var printButton = document.getElementById("printpagebutton");
        //Set the print button visibility to 'hidden' 
        printButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        //Set the print button to 'visible' again 
        //[Delete this line if you want it to stay hidden after printing]
        printButton.style.visibility = 'visible';
    }
</script>

{% load staticfiles %}
<html>
<head>
<title>SEF-Paper Generator</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="SEF Paper Generator"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css2/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'bootstrap/img/neeflogo.jpg' %}" alt="SEF logo" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">{{gSubjectName}} Answer Sheet</h1>
		</div>
		<div style="text-align: right;">
		<input id="printpagebutton" type="button" value="Print Answers" onclick="printpage()"/>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>{{gGrade}}</li>
				<li><p>&nbsp;MKS</p></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
	
		
		<section>
			<div class="sectionTitle">
				<h1>School</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>School Code:</h2>
					<table style="border:2px solid black;border-collapse:collapse;">
					<tr>
					<th style="border:2px solid black;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th><th style="border:2px solid black;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
					<th style="border:2px solid black;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th><th style="border:2px solid black;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
					<th style="border:2px solid black;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th><th style="border:2px solid black;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
					</tr>
					</table>
					<p>&nbsp;</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Assessor</h1>
			</div>
			
			<div class="sectionContent">
			<h2>Date:________________________________</h2>
			<p>&nbsp;</p>
			<h2>Signature:____________________________</h2>
			<p>&nbsp;</p>

			</div>
			<div class="clear"></div>
		</section>
		
		{% csrf_token %}
		{% for question in gQuestionList %}
			<section>
				<div class="sectionTitle">
					<h1>Question#:{{ forloop.counter }}</h1>
				</div>
				
				<div class="sectionContent">
					<article>
						<h2>{{question.correct_answer}}</h2>
					</article>
					<p>&nbsp;</p>
				</div>
				<div class="clear"></div>
			</section>
			{% endfor %}
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>