<!DOCTYPE html>
{% load staticfiles %}
<html lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/style.css' %}" />
<title>Education Foundation for Sindh</title>
</head>

<body>
   <div id="page">

        <div id="header">
        	<div id="headerTitle">Education Foundation for Sindh</div>
            <div id="headerSubText">Question Paper Generator</div>

        </div>
        <div id="bar">
					<a href="/logout">Home</a>
					<a href="/efs/sindhi/">Sindhi</a>
					<a href="/efs/urdu/">Urdu</a>
					<a href="/efs/math/">Math</a>
					<a href="/efs/english/">English</a>
      </div>
        <div class="contentTitle"><h1>Instruction</h1></div>
        <div class="contentText">
          <p>All your personal belongings (such as bags, pouches, ear/headphones, laptops etc.) must be placed at the designated area outside the examination hall. Please do not bring any valuable belongings except the essential materials required for the examinations.

·         Any unauthorised materials, such as books, paper, documents, pictures and electronic devices with communication and/or storage capabilities such as tablet PC, laptop, smart watch, portable audio/video/gaming devices etc. are not to be brought into the examination hall.

·         Handphones brought into the examination hall must be switched off at ALL times. If your handphone is found to be switched on in the examination hall, the handphone will be confiscated and retained for investigations of possible violation of regulations.

·         Photography is NOT allowed in the examination hall at all times.

·         All materials and/or devices which are found to violate any examination regulations will be confiscated.

·         The University will not be responsible for the loss of any belongings in or outside the examination hall.</p>
        </div>

	</div>
        <div id="footer"><a>Developed by NEEF</a></div>


</body></html>
